.btn-custom {
    background-color: #05824e;
}
.btn-custom a {
    color: #fff;

}
.btn-custom a:hover {
    color: #05824e;
    border-style: solid 1px #05824e;
    background-color: #fffcf5;
}
.row {
    margin: 5px;
}