.h5 a{
    color: #0b8a61;
}
.h5 a:hover{
    color: #0e572f;
}
.btn-custom {
    background-color: #05824e;
}
.btn-custom a {
    color: #fff;

}
.btn-custom a:hover {
    color: #05824e;
    border-style: solid 1px #05824e;
    background-color: transparent;
}
.card{
    background-color:#fffcf5;
    border: 1px solid rgb(253, 251, 244);
    box-shadow: 1px 2px 2px rgba(234,223,211,.3), -2px -2px 2px 3px rgba(255, 255, 255, 0.9);
}